<div class="background">
  <div class="nav-bar">
    <app-header (buttonClicked)="onButtonClick($event)"></app-header>
  </div>

  <div *ngIf="lexiconPageSelected; else ackPage">
    <!-- <mat-toolbar class="title-bar"><p class="title">LEXICON</p></mat-toolbar> -->

    <div class="main-page-contents">
      <app-lexicon-page></app-lexicon-page>
    </div>
  </div>

  <ng-template #ackPage>
    <!-- <mat-toolbar class="title-bar"
      ><p class="title">ACKNOWLEDGEMENT</p></mat-toolbar
    > -->

    <app-acknowledgement-page></app-acknowledgement-page>
  </ng-template>
</div>
