.search-cell {
  width: 100%;
}

.languageWord {
  font-size: 18px;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.wordDescription {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.iso-standard-icon {
  height: 18px;
  width: 18px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
