.search-cell {
  width: 100%;
  //flex-grow: 1;
}

.languageWord {
  font-size: 18px;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.wordDescription {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
