.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card {
  margin: 0.5rem;
  max-width: 10rem;
  flex-grow: 1;
}
