// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ISPO-Lexicon-primary: mat-palette($mat-indigo);
$ISPO-Lexicon-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ISPO-Lexicon-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ISPO-Lexicon-theme: mat-light-theme(
  $ISPO-Lexicon-primary,
  $ISPO-Lexicon-accent,
  $ISPO-Lexicon-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ISPO-Lexicon-theme);

/* You can add global styles to this file, and also import other style files */

html {
  background-color: lavender;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Override Angular Material Toggle default color
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #9fbf37;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #d3f269;
}

// Override Angular Material Tab Nav Menu selected bar
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #9fbf37;
}

// Override Angular Meterial Tab Nav Menu bottom border
.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: 0px solid #ffffff;
}
