<div class="content">
  <div class="search-div">
    <!-- <div class="search-display"> -->
    <!-- <form class="basic-search-form"> -->
    <div class="basic-search-form">
      <mat-form-field class="user-input">
        <!-- <mat-icon matSuffix></mat-icon> -->
        <input
          matInput
          placeholder="Search"
          [value]="searchInput"
          (input)="searchInput = $event.target.value"
        />
      </mat-form-field>
    </div>
    <!-- </form> -->
    <div class="toggles" *ngIf="tabletSizeAndAbove">
      <mat-slide-toggle
        labelPosition="before"
        [checked]="isoStandardOnlyOn"
        (change)="toggleIsoStandardOnly($event)"
        >ISO Standard Only</mat-slide-toggle
      >
      <mat-slide-toggle
        labelPosition="before"
        [checked]="translateOn"
        (change)="toggleTranslate($event)"
        >Translate</mat-slide-toggle
      >
    </div>

    <div
      [class.search-buttons]="advancedSearchClosedAnimationComplete"
      [class.advancedSearchSettings]="advancedSearchOpen()"
    >
      <button
        mat-button
        class="link-button"
        (click)="toggleAdvancedSearch()"
        [class.advancedSearch]="advancedSearchOpen()"
      >
        Advanced Search
      </button>
      <app-advanced-search-menu
        [isOpen]="advancedSearchOn"
        (closed)="advancedSearchClosed($event)"
      ></app-advanced-search-menu>
      <button
        mat-raised-button
        [class.search]="advancedSearchOpen()"
        (click)="search()"
      >
        Search
      </button>
    </div>
  </div>

  <div class="language-selectors">
    <app-language-bar></app-language-bar>
  </div>

  <div
    class="search-results"
    *ngIf="searchResults.length >= 1 && !displaySpinner(); else errorScreen"
  >
    <!-- <div *ngIf="getTranslate(); else returnSearchResults">
      <app-search-result-row
        *ngFor="let row of completeSearchResults; index as i"
        [row]="row"
        [searchResultNumber]="i"
        [totalResultsNumber]="completeSearchResults.length"
      ></app-search-result-row>
    </div> -->
    <!-- 
    <ng-template #returnSearchResults> -->
    <app-search-result-row
      *ngFor="let row of searchResults; index as i"
      [row]="row"
      [searchResultNumber]="i"
      [totalResultsNumber]="searchResults.length"
    ></app-search-result-row>
    <!-- </ng-template> -->
  </div>

  <ng-template #errorScreen>
    <app-error-screen
      [noSearchResults]="searchResults.length === 0"
      [waitToLoad]="displaySpinner()"
    >
    </app-error-screen>
  </ng-template>
  <div class="spinner" *ngIf="displaySpinner()">
    <mat-spinner></mat-spinner>
  </div>
</div>
